.edit-workout {
  width: 0;
  flex-shrink: 0;
  border-left: 1px solid var(--color-border);
  transform: translateX(100%);
  transition: 0.2s;
  overflow: auto;
  background-color: var(--color-bg);
  visibility: hidden;
  max-height: calc(100vh - 57px);
  position: relative;
}

.edit-workout.active {
  width: 400px;
  transform: translateX(0);
  visibility: visible;
}

.edit-workout__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 12px;
}

.edit-workout__name {
  padding: 12px;
}

.edit-workout__body {
  padding: 12px;
}

/*.edit-workout {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*  padding: 12px;*/
/*}*/