.header {
  padding: 8px 16px;;
  display: flex;
  gap: 24px;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  position: relative;
  height: 57px;
  width: 100%;
  flex: 0 1 auto;
}

.a11y-wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.a11y-wrap:hover {
  background: var(--color-bg-hover);
}

.a11y-wrapp:hover svg {
  fill: var(--color-accent);
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.header-currentdate {
  display: flex;
  align-items: center;
  gap: 8px;
}

.current-textdate {
  font-size: 15px;
}