@media (max-width: 992px) {
  .header-logo__text {
    display: none;
  }

  .challenge-toggle__text {
    display: none;
  }

  .header__personal {
    gap: 8px;
  }

  .header__personal > .switcher-box {
    display: none;
  }

  .user-funcs__item > .switcher-box {
    display: flex;
  }

  .header {
    gap: 4px;
  }
}

@media (max-width: 768px) {
  .header-logo {
    display: none;
  }

  .button {
    font-size: 11px;
  }

  .current-textdate {
    font-size: 11px;
  }

  .burger {
    display: none;
  }

  .header {
    padding: 8px;
  }

  .workout-task__name {
    display: none;
  }

  .workout-form,
  .workout-data,
  .edit-workout {
    width: 100%;
    transform: scaleY(0);
    transition: 0.3s all;
    transform-origin: top;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .workout-form.active {
    z-index: 2;
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    transform-origin: top;
    transform: scaleY(1);
  }

  .workout-data.active {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    transform-origin: top;
    transform: scaleY(1);
  }

  .lock-layer.editMode {
    display: none;
  }

  .edit-workout.active {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    transform-origin: top;
    transform: scaleY(1);
  }

  .challenge-start__content {
    gap: 24px;
  }

  .datepicker-toggle {
    flex: 0;
  }
}
