.modal-auth-mask {
  position: fixed;
  z-index: 9998;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}


.modal-auth-container {
  width: 300px;
  margin: 0px auto;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
}

.modal-auth-enter-from {
  opacity: 0;
}

.modal-auth-leave-to {
  opacity: 0;
}

.modal-auth-enter-from .modal-container,
.modal-auth-leave-to .modal-container {
  transform: scale(1.1);
}