.auth-title {
  display: flex;
  margin: 0 auto;
  width: 600px;
}

.auth-box {
  max-width: 400px;
  margin: 50px auto;
  position: relative;
}

.err-msg {
  position: absolute;
  top: -30px;
  left: 0;
  font-size: 12px;
  color: red;
}