.workout-data {
  width: 0;
  border-left: 1px solid var(--color-border);
  transform: translateX(100%);
  transition: 0.2s;
  overflow: hidden;
  background-color: var(--color-bg);
}

.workout-data.active {
  width: 400px;
  transform: translateX(0);
}

.workout-data__title {
  font-size: 20px;
  font-weight: bold;
  padding: 12px;
  color: var(--color-text-inverted);
  display: flex;
  align-items: center;
  gap: 24px;
}

.workout-data__date {
  margin-left: auto;
}

.workout-data__title .a11y-wrap {
  min-width: 40px;
}

.workout-data__name {
  font-weight: bold;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.workout-data__title .a11y-wrap:hover {
  background: rgba(255,255,255, 0.2);
}

.workout-data__title svg {
  fill: var(--color-text-inverted);
}

.workout-data__funcs {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 12px;
}

.workout-data__icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.workout-data__icon.delete {
  background-color: var(--color-icon-accent-red-bg);
}

.workout-data__icon.delete svg {
  fill: var(--color-icon-accent-red);
}

.workout-data__icon.edit {
  background-color: var(--color-icon-accent-blue-bg);
}

.workout-data__icon.edit svg {
  fill: var(--color-icon-accent-blue);
}