.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.2s;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(30px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.slideMonth-enter-active,
.slideMonth-leave-active {
  transition: all 0.2s ease-in-out;
}

.slideMonth-enter-from {
  opacity: 0;
  transform: translateX(-30%);
}

.slideMonth-leave-to {
  opacity: 0;
  transform: translateX(30%);
  overflow: hidden;
}
