.button {
  border-radius: 4px;
  border: 1px solid var(--color-border);
  background-color: #fff;
  color: var(--color-btn);
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button:hover {
  background-color: var(--color-bg-hover);
  color: var(--color-accent);
}

.button.sm {
  height: 24px;
  padding: 0 4px;
  font-size: 12px;
}

.button.md {
  height: 36px;
  padding: 0 16px;
}

.button.lg {
  height: 42px;
  padding: 0 24px;
}

.button.onlyIcon {
  padding: 0;
  width: 36px;
  height: 36px;
}

.button[disabled="disabled"] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.button.accent {
  background: var(--color-accent);
  color: var(--color-bg);
  border: 0;
}

.btn-block {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

/* user list auth */
.logged {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  color: var(--color-text);
  
}

.user-funcs {
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--color-bg);
  box-shadow: var(--elements-shadow);
  z-index: 10;
}

.user-funcs__item {
  padding: 4px 24px;
  cursor: pointer;
  font-size: 14px;
}

.user-name {
  font-size: 13px;
  font-weight: bold;
}

.user-funcs__item:hover {
  background: var(--color-bg-hover);
}