.workout-form {
  width: 0;
  border-left: 1px solid var(--color-border);
  transform: translateX(100%);
  transition: transform 0.2s, width 0.2s;
  overflow: hidden;
}

.workout-form.active {
  width: 500px;
  transform: translateX(0);
}

.workout-form__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.workout-form__icon {
  border-radius: 50%;
  background-color: var(--color-icon-accent-bg);
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.workout-form__icon svg {
  fill: var(--color-icon-accent);
}

.workout-form__name {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.workout-form__date {
  font-weight: 600;
}

.workout-form__body {
  padding: 12px;
}

.workout-form__btns {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.muscle-groups {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border: 1px solid var(--color-border);
  border-bottom: none;
  gap: 1px;
  margin-bottom: 12px;
}

.muscle-groups__item {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 4px 8px;
  font-size: 14px;
  border-bottom: 1px solid var(--color-border);
  color: var(--color-text);
  cursor: pointer;
}

.muscle-groups__item:hover {
  background-color: var( --color-bg-hover);
}

.muscle-groups__item:not(:nth-child(2n)) {
  border-right: 1px solid var(--color-border);
}