.task-expand {
    position: absolute;
    width: calc(100% - 6px);
    top: 30px;
    z-index: 10;
    left: 2px;

    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.1s ease-in;
}

.task-expand:hover {
    grid-template-rows: 1fr;
    z-index: 11;
}

.task-expand:hover .workout-task:nth-child(2)::before {
    transform: scaleY(0);
}

.workout-tasks__list {
    min-height: 60px;
}

.workout-task:nth-child(2) {
    position: relative;
}

.workout-task:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, transparent 8%, var(--color-bg) 55%);
    z-index: 20;
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.3s;
}

.workout-task {
    margin-bottom: 2px;
}
