.workout-form {
  width: 0;
  flex-shrink: 0;
  transform: translateX(100%);
  transition: transform 0.2s, width 0.2s, background-color 0.2s;
  overflow: hidden;
  opacity: 0;
  background-color: var(--color-bg);
  visibility: hidden;
}

.workout-form.active {
  width: 400px;
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.workout-form__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.workout-form__icon {
  border-radius: 50%;
  background-color: var(--color-icon-accent-bg);
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.workout-form__icon svg {
  fill: var(--color-icon-accent);
}

.workout-form__name {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.workout-form__date {
  font-weight: 600;
}

.workout-form__body {
  padding: 12px;
}

.workout-form__btns {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  padding: 0 12px;
  margin-top: 8px;
}

.muscle-groups {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  border: 1px solid var(--color-border);
  border-bottom: none;
  gap: 1px;
  margin-bottom: 12px;
  border-radius: 4px;
}

.muscle-groups__item {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 4px 8px;
  font-size: 14px;
  border-bottom: 1px solid var(--color-border);
  color: var(--color-text);
  cursor: pointer;
}

.muscle-groups__item:hover {
  background-color: var( --color-bg-hover);
}

.muscle-groups__item:not(:nth-child(2n)) {
  border-right: 1px solid var(--color-border);
}

.picked-group {
  display: flex;
  width: 100%;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  font-size: 12px;
  height: 36px;
  border: 1px solid var(--color-icon-accent);
  background-color: var(--color-icon-accent-bg);
  color: var(--color-icon-accent);
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 12px;
}

.exercises {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid var(--color-border);
  border-bottom: none;
  gap: 1px;
  margin-bottom: 12px;
  height: 0;
}

.exercises.active {
  height: 221px;
  overflow: auto;
  transition: height 0.2s ease-out;
}

.exercise-item {
  border-bottom: 1px solid var(--color-border);
}

.exercise-item__btn {
  display: block;
  padding: 8px;
  background-color: transparent;
  width: 100%;
  font-size: 12px;
  border: 0;
  text-align: left;
  color: var(--color-text);
  cursor: pointer;
}

.exercise-item__btn.active {
  background-color: var(--color-icon-accent-blue-bg);
  color: var(--color-icon-accent-blue);
}

.exercise-item__btn:hover {
  background-color: var( --color-bg-hover);
}

.picked-exercises {
  border-radius: 4px;
}

.picked-exercises__item {
  font-size: 13px;
  border-bottom: 1px solid var(--color-border);
}

.picked-exercise__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  background-color: var(--color-icon-accent-orange-bg);
  color: var(--color-icon-accent-orange);
  cursor: pointer;
}

.picked-exercise__form {
  display: flex;
  align-items: stretch;
  gap: 8px;
  padding: 8px;
}

.picked-exercise__form .input-wrap {
  max-width: 100px;
  margin-bottom: 0;
}

.picked-exercise__sets {
  display: flex;
  flex-wrap: wrap;
}

.save-set__btn {
  background: transparent;
  border: 1px solid var(--color-border);
  font-size: 11px;
}

.picked-exercise__set {

}

.picked-exercise__set svg{
  fill:  var(--color-text-inverted);
  cursor: pointer;
}

.picked-exercise__load {
  border: 1px solid var(--color-border);
  border-radius: 4px;
  font-size: 13px;
  display: flex;
  align-items: center;
  color: var(--color-btn);
  width: 150px;
}

.picked-exercise__box {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 4px;
  color:  var(--color-text-inverted);
  border-radius: 4px;
  font-size: 11px;
  padding: 2px 4px;
  margin: 4px 0 4px 8px;
}
